.main-container {
    width: 1440px;
    margin: 0;
}

/* Header CSS */

.header-img {
    width: 100vw;
}

/* Body CSS */

body {
    margin: 0;
}

/* Navbar CSS */

.navbar {
    display: flex;
    position: absolute;
    align-items: center;
    top: 0;
    max-height: 112px;
}

.navbar a {
    display: flex;
    text-decoration: none;
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 24px;
}

.sakura-logo {
    display: flex;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 160px;
    width: 64px;
    height: 64px;
}

.telefon {
    display: flex;
    border: 2px solid aliceblue;
    border-radius: 5px;
    align-items: center;
    background-color:  #9F0908;

}

.telefon img {
    max-width: 20px;
}